<h2 mat-dialog-title>Book Appointment</h2>

<div mat-dialog-content>
  <form [formGroup]="modalForm">
    <mat-form-field appearance="fill" class="elevated-field">
      <mat-label>Appointment Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date_time" placeholder="Select date and time">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Notes Textarea -->
    <mat-form-field appearance="fill" style="width: 100%;">
      <textarea matInput formControlName="notes" placeholder="Additional notes"></textarea>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button
          (click)="onConfirm()"
          [disabled]="isSubmitting"
          cdkFocusInitial>
    Confirm 
  </button>
</div>